/* 캘린더 스타일 적용 -> 캘린더 컴포넌트에서 임포트 필수 */

/* 오늘 날짜 셀 */
.fc-day-today {
    background-color: #fca5a5 !important;
    border: 2px solid #fca5a5 !important;
  }
  
  /* 이벤트 스타일 */
  .fc-event {
    background-color: #f87171 !important;
    color: white !important;
    border: none;
    border-radius: 4px;
    padding: 2px 5px;
  }
  
  /* 이전/다음 버튼 스타일 */
  .fc .fc-button-primary {
    background-color: #f87171 !important;
    border: none !important;
    color: white !important;
    font-weight: bold;
  }
  